{% extends 'base.html.twig' %}

{% block title %}Tous les Sweatshirts{% endblock %}

{% block body %}
<h1 class="text-center mt-4">Tous les Sweatshirts</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for sweatshirt in sweatshirts %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ asset('uploads/' ~ sweatshirt.image) }}" class="card-img-top" alt="{{ sweatshirt.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ sweatshirt.name }}</h5>
                    <p class="card-text">Prix : {{ sweatshirt.price }} €</p>
                    <a href="{{ path('app_sweatshirtDetail', { id: sweatshirt.id }) }}" class="btn btn-primary">Voir le détail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}